.piano {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .35fr 1fr;
  width: 100vw;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.piano__dashboard {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #1B1B1B;
  padding: 12px;
  box-sizing: border-box;
}

.piano__dashboard__btn {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: min(12vw, 12vh);
  height: min(12vw, 12vh);
  background-image: linear-gradient(to bottom, #3F3F3F, #232323);
  border-radius: 50%;
  padding: 6px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  border: min(1.5vw, 1.5vh) solid black;
  box-shadow: 1px 1px 4px 0px rgba(255, 255, 255, 0.123);
  z-index: 0;
  font-size: max(3vw, 3vh);

  &:active {
    background-image: linear-gradient(to bottom, #232323, #3F3F3F);
  }
}

.piano__dashboard__btn-prev {
  margin-right: 6vw;
}

.piano__dashboard__btn-next {
  margin-left: 6vw;
}

.piano__keyboard-container {
  width: 100%;
  height: 100%;
  overflow: auto;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.piano__keyboard {
  display: flex;
  width: max-content;
  min-width: 800px;
  height: 100%;
  box-sizing: border-box;
  padding: 0px 6px 16px 6px;
  background-color: #1B1B1B;
}